<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leeyom.dao.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.leeyom.pojo.User">
        <id column="u_id" property="uId" jdbcType="INTEGER"/>
        <result column="u_name" property="uName" jdbcType="VARCHAR"/>
        <result column="u_password" property="uPassword" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.leeyom.pojo.User">
    insert into t_user (u_id, u_name, u_password
      )
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.leeyom.pojo.User">
    update t_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select u_id, u_name, u_password
    from t_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select u_id, u_name, u_password
    from t_user
  </select>
</mapper>